{% extends "base.html" %}

{% block head %}
<title> {{ document.frontmatter.title }} </title>
<meta name="og:title" property="og:title" content="{{ document.frontmatter.title  }}" />
<meta name="twitter:title" content="{{ document.frontmatter.title  }}" />
<meta name="description" content="{{ document.summary  }}" />
<meta name="og:description" property="og:description" content="{{ document.summary }}" />
<meta name="twitter:description" content="{{ document.summary }}" />
{% endblock %}

{% block content %}
<div>
    <h1>{{ document.frontmatter.title }}</h1>
    <p>{{ document.frontmatter.tags | join(", ") }}</p>
    <p>{{ document.date }}</p>

    {% if document.toc.len() > 0 %}
    <h2>Contents</h2>
    <ul>
        {% for header in document.toc %}
        <li>
            {% let id %}
            {% if let Some(hid) = header.id %}
            {% let id = hid | fmt("{}") %}
            {% else %}
            {% let id = "{}" | format("#" ~ header.text) %}
            {% endif %}
            <a href="{{ id }}">{{ header.text }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ document.content | safe }}
</div>

{% endblock %}